.footer {
    background-color: $mainColor;
    color: $fontAdditionalColor;
    padding: 50px 0;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__title {
        font-size: 20px;
        font-weight: 500;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__item {
        a {
            color: inherit;
            font-size: 16px;
            text-decoration: underline;
        }
    }
}
.logo-rs {
    width: 150px;
    // height: 100px;
    display: flex;
    align-items: center;
    img {
        width: 100%;
        height: auto;
    }
}
