.header {
    color: $fontMainColor;
    position: relative;
    &__container {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 32px;
        text-transform: capitalize;
        display: block;
        color: inherit;
    }
}
.nav__list {
    display: flex;
    gap: 20px;
}
.nav__item {
    font-size: 20px;
    line-height: 24px;
    a {
        color: #3c3146;
        text-transform: uppercase;
    }
}

.btn {
    padding: 15px 60px;
    font-size: 20px;
    line-height: 24px;
    color: $fontAdditionalColor;
    background-color: $mainColor;
    border-radius: 50px;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.cover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: block;
    cursor: pointer;
}
.cross {
    background-image: url('../svg/cross.svg');
    background-position: center center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}
.modal {
    max-width: 861px;
    position: fixed;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    padding: 100px 145px 70px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    &__title {
        margin-bottom: 40px !important;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        margin-bottom: 50px;
    }
    &__input {
        width: 400px;
        height: 60px;
        padding: 0px 10px;
        border-radius: 10px;
        border: 1px solid $mainColor;
        outline: none;
    }
    &__input.invalid {
        border-color: $alertColor;
    }
}
.modal__btn:disabled {
    background-color: #bfbfbf;
    cursor: auto;
    color: darken($fontAdditionalColor, 50%);
}
.subtitle {
    font-size: 16px;
    line-height: 19px;
    background-color: transparent;
    outline: none;
    border: none;
}
