.header {
    color: $fontMainColor;
    position: relative;
    &__container {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 32px;
        text-transform: capitalize;
        display: block;
        color: inherit;
    }
}
.nav__list {
    display: flex;
    gap: 20px;
}
.nav__item {
    font-size: 20px;
    line-height: 24px;
    a {
        color: #3c3146;
        text-transform: uppercase;
    }
}
